<p>products works!</p>
<div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="card h-100">
          <img src="assets/deltabookcase.webp" class="card-img-top img-fluid" alt="Product 1">
          <span class="sale-sticker">SALE</span>
          <div class="card-body">
            <h5 class="card-title">Hobart Slanted Bookcase</h5>
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
  
      
      <div class="col-md-3">
        <div class="card h-100">
          <img src="assets/deltabookcase.webp" class="card-img-top img-fluid" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Delta Bookcase</h5>
            <p class="card-text Text-price"></p>
            <p class="card-text current-price">R 1000,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
  
      
      <div class="col-md-3">
        <div class="card h-100">
          <img src="assets/960x0.jpg" class="card-img-top img-fluid" alt="Product 3">
          <span class="sale-sticker">SALE</span>
          <div class="card-body">
            <h5 class="card-title">Erik Leather Wing Chair</h5>
            <p class="card-text Text-price">Was R 1000,00</p>
            <p class="card-text current-price">R 1500,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100">
          <img src="assets/Alia-Lounge-Grey-Lounge-furniture-hero5.avif" class="card-img-top img-fluid" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Delta Bookcase</h5>
            <p class="card-text Text-price"></p>
            <p class="card-text current-price">R 1000,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
      <hr class="mt-5">

      <div class="col-md-3 mt-3">
        <div class="card h-100">
          <img src="assets/960x0.jpg" class="card-img-top img-fluid" alt="Product 3">
          <span class="sale-sticker">SALE</span>
          <div class="card-body">
            <h5 class="card-title">Erik Leather Wing Chair</h5>
            <p class="card-text Text-price">WasR 1000,00</p>
            <p class="card-text current-price">Now R 1500,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="card h-100">
          <img src="assets/960x0.jpg" class="card-img-top img-fluid" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Erik Leather Wing Chair</h5>
            <p class="card-text Text-price"></p>
            <p class="card-text current-price">R 1500,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="card h-100">
          <img src="assets/960x0.jpg" class="card-img-top img-fluid" alt="Product 3">
          <span class="sale-sticker">SALE</span>
          <div class="card-body">
            <h5 class="card-title">Erik Leather Wing Chair</h5>
            <p class="card-text Text-price">R 1000,00</p>
            <p class="card-text current-price">R 1500,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <div class="card h-100">
          <img src="assets/960x0.jpg" class="card-img-top img-fluid" alt="Product 3">
          <span class="sale-sticker">SALE</span>
          <div class="card-body">
            <h5 class="card-title">Erik Leather Wing Chair</h5>
            <p class="card-text Text-price">R 1000,00</p>
            <p class="card-text current-price">R 1500,00</p>
            <button type="button" class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
