<app-navbar></app-navbar>
<div class="container ppp">
  <div class="row grid">
    <div class="col-md-3"*ngFor="let product of products">
      <div class="card h-100">
        <img
          [src]="product.image"
          class="card-img-top img-fluid"
          alt="Product 1"
        />
        <span class="sale-sticker">SALE</span>
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">R{{product.price2}}</p>
            <p class="card-text current-price">R{{product.price}}</p>
          </div>
          <div class="button-cont">
            <button type="button" class="btn btn-primary btn-sm" (click)="addToCart(product)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






