.Text-price{
    color: red;
    text-decoration: line-through;
  }
  .current-price{
    color: rgb(11, 223, 11);
  }
  .sale-sticker {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }