


<div class="container">
  <hr class="mt-5 ml-50"/> <h3>Beds</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_335742261_nLDDXBeaM55nlxG4OeCmEvLDno1qmlJQ.jpg"
          class="card-img-top img-fluid"
          alt="Product 1"
        />
        <span class="sale-sticker">SALE</span>
        <div class="card-body">
          <h5 class="card-title">Hobart Slanted Bookcase</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">price: Now R 899,00</p>
          </div>
          <div class="button-cont">
            <button type="button" class="btn btn-primary btn-sm">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_388910352_p0LOpB3YJVwRahbMcBKiuIPjlKTpZZRE.jpg"
          class="card-img-top img-fluid"
          alt="Product 2"
        />
        <div class="card-body">
          <h5 class="card-title">Delta Bookcase</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <div class="button-cont">
            <button type="button" class="btn btn-primary btn-sm">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_492904673_hrQrz779pw3er4IraG0zmQA8TaeR88JL.jpg"
          class="card-img-top img-fluid"
          alt="Product 3"
        />
        <span class="sale-sticker">SALE</span>
        <div class="card-body">
          <h5 class="card-title">Erik Leather Wing Chair</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            Add to Cart
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_210111161_RhaenrlDWFidISpkZQzKlHYvDSZIvNLD.jpg"
          class="card-img-top img-fluid"
          alt="Product 2"
        />
        <div class="card-body">
          <h5 class="card-title">Delta Bookcase</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
    <hr class="mt-5" /> <h3>Chairs</h3>

    <div class="col-md-3 mt-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_298830220_lHqS0oOJMOZ8F8ld7z7ZeAdZDv1Gt02U.jpg"
          class="card-img-top img-fluid"
          alt="Product 3"
        />
        <span class="sale-sticker">SALE</span>
        <div class="card-body">
          <h5 class="card-title">Erik Leather Wing Chair</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            Add to Cart
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_303920112_Qg6w8w2Brjnqex7AGJpsZlaI8IWa1lzH.jpg"
          class="card-img-top img-fluid"
          alt="Product 3"
        />
        <div class="card-body">
          <h5 class="card-title">Erik Leather Wing Chair</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            Add to Cart
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_423223088_K7LtjyVB6Ggvj2eXCYgH4wifwr567hjI.jpg"
          class="card-img-top img-fluid"
          alt="Product 3"
        />
        <span class="sale-sticker">SALE</span>
        <div class="card-body">
          <h5 class="card-title">Erik Leather Wing Chair</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            Add to Cart
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-3">
      <div class="card h-100">
        <img
          src="assets/1000_F_533213230_cuXvqARkWeP1Tzb5uwiTvbiMA7fPrFJu.jpg"
          class="card-img-top img-fluid"
          alt="Product 3"
        />
        <span class="sale-sticker">SALE</span>
        <div class="card-body">
          <h5 class="card-title">Erik Leather Wing Chair</h5>
          <div class="prices">
            <p class="card-text color-red Text-price">Was R 899,00</p>
            <p class="card-text current-price">Now R 899,00</p>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>





