*{
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto Condensed";
}
.container{
    margin-top: 8px;
}

.cartHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
    
}
.cartDescrip{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
}

li{
    margin-left: 50px;
}

.product{
    max-width: 300px;
}

img{
    width: 100px;
    height: 110px;
}


.quantity{
    margin-top: 50px;
    padding-right: 70px;
    
}

.fprice{
    display: flex;
    justify-content: space-between;
}

.oSum{
    margin-top: 12px;
}

h3{
    justify-content: center;
    display: flex;
    align-items: center;
}

.sMore{
    margin-bottom: 20px;
}
.space{
    padding-top: 100px;
}