<div class="container">
    <div class="navbar">
        <nav class="nav justify-content-center">
          <a class="nav-link active" href="#">Active link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" href="#">Disabled link</a>
        </nav>
    </div>
    <div class="cartMain">
        <h2>Your Cart</h2>
        <h3>Items</h3>
    </div>
    <hr>
    <ul class="cartDescrip">
        <li>Product Details</li>
        <li>Quantity</li>
        <li>Price</li>
        <li>Total Price</li>
    </ul>
    <div class="pCard">
        <div class="card mb-3 cardCont" style="max-width: 540px;">
            <div class="row g-0 cardCont">
              <div class="imgCard">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6vRBWDk2BCApAJyKVBX2nEllZEhXzu9OnuH2Js3Ky9g&s" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Naomi bookshelf</h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="imgCard">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6vRBWDk2BCApAJyKVBX2nEllZEhXzu9OnuH2Js3Ky9g&s" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Naomi bookshelf</h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="imgCard">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6vRBWDk2BCApAJyKVBX2nEllZEhXzu9OnuH2Js3Ky9g&s" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Naomi bookshelf</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="quantity">
        <button class="quantity-minus" data-action="minus" type="button">-</button>
        <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
        <button class="quantity-add" data-action="add" type="button">+</button>
    </div>
</div>
