img{
    height: 30vh;
    width: 40wh;
    border-radius: 50%;
    margin: auto;
}
.logo
{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.btn{
    background-color: blue;
}
.container{
    background-color:orange;
     width: 200vh;
     padding: 50px;
     margin: 20px;
   
   }
   