
<div class="logo">
    <img src="assets/1.jpg" alt="">
</div>
<div class="container">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" placeholder="Enter your email account"></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email account">
      
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" placeholder="Enter password"></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="please confirm your password">
          </div>
         
        <a href="" class="btn btn-primary" routerLink="/home" >Register</a>
      </form>
</div>
