

  <nav class="navbar" style="background-color:orange;">
    <div class="container-fluid" style="color:white;">
      <img src="../assets/1.jpg" alt="...">
      
      <a class="nav-link" aria-current="page" href="#"routerLink="/home" >Home</a>
          <a class="nav-link" href="#"routerLink="/product" routerLinkActive="active">product</a>
          <a class="nav-link" href="#"routerLink="/cart" routerLinkActive="active">cart</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit" style="background-color:blue;">Login</button>
  </form>
    </div>
  </nav>
