$custom-color: #ff0000;

/* Apply custom color to the navbar */
.navbar{
 padding:3px;
 height: 100px;
}

.navbar img{
    margin: 10px;
    padding: 25px;
    width:100px;
  
}
.item{
  align-items: center;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item{
  float: left;
}

 .item a {
  display: flex;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.item a:hover {
  background-color: #111;
}


@media only screen and (max-width: 561px){
	/*Small smartphones [325px -> 425px]*/
  
}
.login-button{
  background-color: rgb(16, 42, 160);
  color:white;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3 background-color;
}
.login-button:hover{
  background-color: rgb(127, 180, 255);
}