<!--
<nav class="nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Product</a>
          <a class="nav-link" href="#">checkout</a>
          <button class="btn btn-outline-success" type="submit">login</button>
        </div>
      </div>
    </div>
  </nav>

<nav class="navbar navbar-expand-lg bg-body-dark" id="funish">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">product</a>
          <a class="nav-link" href="#">checkout</a>
<button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
-->

<nav class="navbar" style="background-color:orange;">

  <!--- <nav class="navbar navbar-expand-lg bg-body-light">
        <div class="container-fluid ">
            <img src="../assets/1.jpg" alt="...">
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="items">-->
                  <!--  <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">product</a>
                    <a class="nav-link" href="#">checkout</a>-->
                    
                      <img src="../assets/1.jpg" alt="...">
                      <ul>
                      <ol><a class="active" href="#home">Home</a></ol>
                      <ol><a href="#news">News</a></ol>
                      <ol><a href="#contact">Contact</a></ol>
                      <ol><a href="#about">About</a></ol>
                
                    </ul>
                 <!--  <button class="btn btn-outline-success" type="submit">login</button>-->
               <!--- </div>
            </div>
        </div>
    </nav>-->
</nav>