/* You can add global styles to this file, and also import other style files */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .Text-price{
    color: red;
    text-decoration: line-through;
  }
  .current-price{
    color: rgb(11, 223, 11);
  }
  .sale-sticker {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  