
    
    <div class="container">
        <div class="left">
            <h3>Delivery Required</h3>
            <h3>Delivery Address</h3>
            <h3>Amount</h3>
            <h3>Delivery Fee</h3>
            <h3>Total Amount</h3>
            <h3>Payment Method</h3>

        </div>
    <div class="right">
        <label class="switch">
        
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        <form class="address">
            <input type="text" name="inputField" >
            <input type="text" name="inputField" >
            <input type="text" name="inputField">
       </form>
            <h3>R4600.00</h3>
            <h3>R630.00</h3>
            <h3>R5230.00</h3>

            <input type="radio" name="gender" value="male">Cash<br>
            <input type="radio" name="gender" value="female">Card<br>    

    </div>
    

    </div>