
    
    <div class="container">
        <div class="left">
            <h3>Delivery Required</h3>
            <h3 class="Delivery">Delivery Address</h3>
            <h3 style="margin-bottom: 30px;">Amount</h3>
            <h3 style="margin-bottom: 30px;">Delivery Fee</h3>
            <h3 style="margin-bottom: 30px;">Total Amount</h3>
            <h3 style="margin-bottom: 30px;">Payment Method</h3>

        </div>
    <div class="right">
        <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
        </label>

        <form class="address">
            <input type="text" name="inputField" >
            <input type="text" name="inputField" >
            <input type="text" name="inputField">
       </form>
            <h3 style="margin-bottom: 30px;">R4600.00</h3>
            <h3 style="margin-bottom: 30px;">R630.00</h3>
            <h3 style="margin-bottom: 30px;">R5230.00</h3>
        
            <input type="radio" id="cash" name="method" value="cash">
            <label for="cash" class="method-label">Cash</label>

            <input type="radio" id="card" name="method" value="card"> 
            <label for="card" class="method-label">Card</label>  
       
    </div>
    
    
</div>

    <button class="checkbtn">CheckOut</button>

   
   